body {
  background: white;
  margin: 0px;
}

main {
  position: relative;
  top: 60vh;
  background: white
}

menu {
  margin: 0px;
}

header {
  display: flex;
  justify-content: space-between;
  position: sticky;
  top: 0px;
  height: 96px;
  width: 100%;
  z-index: 100;
  background: white;
}

.banner {
  min-width: 100% !important;
  width: auto !important;
  min-height: 100%;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-60%,-60%);
}
