@import "~flatpickr/dist/flatpickr.min.css";

html {
 overflow-x: hidden;
}

body {
  background: white;
  margin: 0px;
}

button:hover {
  cursor: pointer;
}

main {
  position: fixed, top;
  background: white;
  z-index: 100;
}

menu {
  font-family: 'Cinzel', serif;
  font-size: 2em;
  display: flex;
  align-items: center;
  margin-top: 48px;
  padding-left: 100px;
}

header {
  position: fixed;
  top: 0vh;
  display: flex;
  justify-content: space-between;
  height: 96px;
  width: 100vw;
  z-index: 100;
  background: white;
  object-fit: contain;
}

.header--logo-img {
  justify-content: flex-start;
}

.header-welcome {
  margin-right: 48px;
}

.banner {
  background-position: top, center;
  object-fit: cover;
  min-width: 100vw !important;
  height: 60vh;
}

.bookings-menu {
  font-family: inherit;
  font-size: 1em;
  background-color: white;
  border: none;
}

.bookings-menu:hover {
  border-bottom: 1px solid black;
  transform: translateY(1px);
}

.bookings-dropdown {
  position: absolute;
  top: 96px;
  margin: 0px;
  padding: 4px;
  height: 240px;
  width: auto;
  background-color: white;
  opacity: 0;
  pointer-events: none;
  transition-duration: 250ms;
  overflow-y: scroll;
}

.cards-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 28px;
  margin: 0px;
  overflow: hidden;
}

.flex {
  display: flex;
}

.search-form {
  display: flex;
  align-items: center;
  padding-left: 48px;
  padding-right: 24px;
  padding-bottom: 28px;
}

.search-form--btn {
  background-color: rgb(64, 36, 12);
  color: rgb(236, 225, 209);
  height: 56px;
  width: 370px;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 2em;
  padding-right: 2em;
  border: none;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  font-weight: 400;
}

.menu--booking {
  font-size: .5em;
  font-family: 'Cormorant', serif;
  background-color: white;
  transition: background-color 100ms ease-in-out;
}

.menu--booking:hover {
  background-color: lightgray;
}

.room-card {
  display: flex;
  width: 100%;
  max-width: 1280px;
  height: 440px;
  padding-bottom: 96px;
}

.room-card--book-btn {
  background-color: rgb(64, 36, 12);
  color: rgb(236, 225, 209);
  width: 208px;
  margin-left: 48px;
  margin-top: 64px;
  padding-top: .5em;
  padding-bottom: .5em;
  padding-left: 1em;
  padding-right: 1em;
  border: none;
  font-size: 1.5em;
  font-family: 'Cinzel', serif;
  font-weight: 400;
}

.room-card--book-btn:disabled {
  background-color: rgb(71, 66, 61);
}

.room-card--data {
  background-color: white;
  transition: background-color 150ms ease-in-out;
  cursor: pointer;
}

.room-card--data:active {
  background-color: #ece1d1;
}

.room-card--data:hover {
  background-color: lightgray;
}

.room-card--date-input {
  margin-left: 12px;
  width: 164px;
  height: 28px;
  font-size: 1em;
  font-family: 'Cormorant', serif;
  padding: 0px;
  box-sizing: border-box;
  align-items: center;
  white-space: pre;
}

.room-card--error {
  width: 600px;
  text-align: center;
}

.room-card--info {
  height: 180px;
  width: 480px;
  overflow-y: scroll;
}

.room-card--image {
  display: flex;
  margin: 0px;
  height: 440px;
  width: 600px;
  padding-right: 16px;
}

.room-card--text {
  font-family: 'Cormorant', serif;
  font-size: 1.25em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px;
  padding-top: 24px;
  padding-left: 48px;
  padding-right: 64px;
  line-height: 1.2em;
  width: 520px;
}

.room-card--title {
  font-family: 'Cinzel', serif;
  font-size: 2em;
  font-weight: 600;
  margin-top: 0px;
  padding-top: 0px;
  padding-left: 48px;
  padding-right: 64px;
}

.room-tools-wrapper {
  padding: 24px;
  width: 606px;
  justify-content: space-between
}

.hidden {
  display: none;
}