html {
  
}

body {
  background: white;
  margin: 0px;
}

main {
  position: relative;
  top: 60vh;
  background: white
}

menu {
  display: flex;
  align-items: center;
  margin: 0px;
  padding-left: 100px;
  font-family: 'Cinzel', serif;
  font-size: 2em;
  list-style: none;
}

header {
  position: fixed;
  top: 0vh;
  display: flex;
  height: 96px;
  width: 100%;
  z-index: 100;
  background: white;
}

.header--logo-img {
  justify-content: flex-start;
}

.banner {
  min-width: 100% !important;
  width: auto !important;
  min-height: 100%;
  position: absolute;
  top: 40%;
  left: 60%;
  transform: translate(-60%,-60%);
}

.view-bookings {
  font-family: inherit;
  height: 80%;
}
